@font-face {
  font-family: "ibm";
  src:
    local("ibm"),
    url("../fonts/ibm.ttf") format("opentype") tech(color-COLRv1);
    font-weight: 300;
}

@font-face {
  font-family: "baskervville";
  src:
    local("baskervville"),
    url("../fonts/Baskervville.ttf") format("opentype") tech(color-COLRv1);
    font-weight: 400;
}
